fastapi==0.85.1
pandas==2.0.3
bitsandbytes
optimum>=1.12.0
auto_gptq>=0.4.2
einops
accelerate
openai
black
isort
websockets
pydantic
langchain
uvicorn
jinja2
faiss-cpu
bs4
unstructured
libmagic
torch
transformers>=4.32.0
xformers
chromadb==0.3.29
sentence_transformers
unstructured