fastapi==0.85.1
pandas==2.0.3
bitsandbytes
auto_gptq
einops
accelerate
openai
black
isort
websockets
pydantic
langchain
uvicorn
jinja2
faiss-cpu
bs4
unstructured
libmagic
torch
transformers
xformers
chromadb==0.3.29
sentence_transformers
unstructured